# Binários
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out
*.coverprofile
coverage*

# Go workspace
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo

# Code Agents
.github
.opencode
.specify

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
